#red{
    color: red;
}
#blue{
    color: blue;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
#purple{
    color: purple;
}
#orange{
    color: orange;
}
img{
    
    width: 200px;
    height: 200px;
}
color-title{
    
    font-weight: normal;
}